body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

p {
  margin-bottom: 10px;
}

.main {
  background-color: #0a2240;
  font-family: korolev-condensed, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
}

.section {
  position: relative;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-color: #0a2240;
}

.section.mantra {
  position: relative;
}

.section.jersey {
  padding-top: 3em;
  padding-bottom: 3em;
  background-image: radial-gradient(circle farthest-corner at 30% 35%, #236092, #0a2240 30%);
}

.section.jersey.explorer {
  background-image: url('../images/LY21_ExplorerTexture.svg'), radial-gradient(circle farthest-corner at 62% 45%, #236092, #0a2240 30%);
  background-position: 100% 50%, 0px 0px;
  background-size: 60%, auto;
  background-repeat: repeat-y, repeat;
  background-attachment: fixed, scroll;
}

.section.jersey.rebel {
  background-image: url('../images/LY21_RebelTexture.svg'), radial-gradient(circle farthest-corner at 38% 45%, #236092, #0a2240 30%);
  background-position: 0% 35%, 0px 0px;
  background-size: 70%, auto;
  background-repeat: repeat-y, repeat;
  background-attachment: fixed, scroll;
}

.section.jersey.heroine {
  background-image: url('../images/LY21_HeroineTexture.svg'), radial-gradient(circle farthest-corner at 38% 45%, #236092, #0a2240 35%);
  background-position: 0% 35%, 0px 0px;
  background-size: 70%, auto;
  background-repeat: repeat-y, repeat;
  background-attachment: fixed, scroll;
}

.section.header {
  background-image: radial-gradient(circle farthest-corner at 50% 70%, #236092, #0a2240 42%);
}

.section.mantra {
  height: 800vh;
}

.container.header {
  position: relative;
  z-index: 0;
}

.h1 {
  font-family: anisette-std, sans-serif;
  color: #fff;
  font-size: 7rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: -11px;
}

.h1.sub {
  font-family: anisette-std, sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0px;
}

.img-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
}

.header__image {
  position: relative;
  top: 0px;
  width: 33%;
  max-height: 400px;
  max-width: 640px;
  margin-right: -4%;
  margin-bottom: -2%;
  margin-left: -4%;
}

.header__image.heroine {
  z-index: 0;
}

.header__image.rebel {
  z-index: 0;
}

.header__image.explorer {
  z-index: 1;
  margin-bottom: 0%;
}

.header__tag {
  position: absolute;
  left: 0%;
  top: 50%;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 35%;
  height: 10%;
  background-color: #79bc43;
  -webkit-transform: translate(50%, 0px) rotate(-90deg);
  -ms-transform: translate(50%, 0px) rotate(-90deg);
  transform: translate(50%, 0px) rotate(-90deg);
  font-family: anisette-std, sans-serif;
  font-size: 10px;
  line-height: 24px;
  font-weight: 700;
}

.header__tag.explorer {
  left: -2%;
  top: 55%;
}

.header__tag.rebel {
  left: 4%;
}

.header__link-block {
  color: #0a2240;
}

.jersey__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mantra__text {
  margin-bottom: 1rem;
  font-family: korolev-condensed, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.mantra__text.popup {
  position: absolute;
  opacity: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.mantra__text.popup._3 {
  text-align: center;
}

.mantra__text.popup._4 {
  text-align: left;
}

.mantra__text.popup._5 {
  text-align: left;
}

.mantra__text.popup._7 {
  text-align: left;
}

.jersey__viz {
  width: 60%;
  margin-right: 5%;
}

.jersey__viz.img-right {
  margin-right: 0px;
  margin-left: 20px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-image: none;
}

.jersey__textbox {
  position: relative;
}

.jersey__text {
  margin-bottom: 0px;
  font-family: korolev-condensed, sans-serif;
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: 500;
}

.jersey__text.template-override {
  padding: 15px 20px 75px;
}

.jersey__gradient {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(48%, rgba(10, 34, 64, 0.5)), color-stop(89%, #0a2240));
  background-image: linear-gradient(180deg, transparent, rgba(10, 34, 64, 0.5) 48%, #0a2240 89%);
}

.jersey__highlight {
  position: relative;
  border-top: 3px solid #79bc43;
  border-right: 3px solid #79bc43;
  border-left: 3px solid #79bc43;
}

.jersey__highlight.shadow {
  opacity: 0;
}

.jersey__highlight.overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.jersey__dot {
  width: 20px;
  height: 19px;
  margin-top: -8px;
  border-style: solid;
  border-width: 1px;
  border-color: #79bc43;
  border-radius: 50%;
  background-color: #79bc43;
}

.jersey__dot.img-right {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.jersey__info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin-top: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.jersey__bracket {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.jersey__bracket.img-left {
  margin-left: -35%;
}

.jersey__bracket.img-right {
  margin-left: 50%;
}

.jersey__connector {
  width: 100%;
  height: 70px;
}

.jersey__connector.img-left {
  border-top: 3px solid #79bc43;
  border-right: 3px solid #79bc43;
}

.jersey__connector.img-left.shadow {
  opacity: 0;
}

.jersey__connector.img-left.overlay {
  position: absolute;
}

.jersey__connector.img-right {
  border-top: 3px solid #79bc43;
  border-left: 3px solid #79bc43;
}

.jersey__connector.img-right.shadow {
  opacity: 0;
}

.jersey__connector.img-right.overlay {
  position: absolute;
  right: 0px;
}

.jersey__title {
  position: relative;
  top: 67px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: anisette-std, sans-serif;
  font-size: 1.8em;
  line-height: 1.8em;
  font-weight: 700;
  text-align: center;
}

.jersey__title.left {
  right: 35px;
}

.jersey__title.left.rebel {
  top: 42px;
}

.jersey__title.img-right {
  left: 35px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.jersey__title.img-right.explorer {
  top: -120px;
}

.jersey__crop {
  position: relative;
  overflow: hidden;
  max-height: 570px;
  padding-right: 15%;
  padding-left: 15%;
}

.jersey__crop.heroine {
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.jersey__gallery {
  display: -ms-grid;
  display: grid;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text__highlight {
  color: #79bc43;
}

.text__emph {
  font-size: 3rem;
  line-height: 3rem;
}

.text__emph.popup {
  font-size: 5rem;
  line-height: 5rem;
}

.h2 {
  font-family: anisette-std, sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.h2-sub {
  font-size: 1rem;
  line-height: 1rem;
}

.a-block {
  overflow: hidden;
  width: 10%;
  height: 40vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 6px;
  background-color: hsla(0, 0%, 87.1%, 0);
  box-shadow: none;
}

.the-height-400vh-section {
  position: relative;
  display: none;
  height: 350vh;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-top: 60px none rgba(36, 36, 36, 0.09);
  background-color: #fff;
}

.the-height-400vh-section:focus {
  box-shadow: inset 0 0 0 85px rgba(255, 0, 0, 0.29);
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: none;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0a2240;
}

.preloader__dot {
  position: absolute;
  border-style: solid;
  border-width: 6px;
  border-color: #79bc43;
  border-radius: 50px;
}

.mantra__container {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 85vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mantra__background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #236092;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, transparent, #0a2240 62%), url('../images/LY21_Scroll_Texture_Opt.svg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, repeat-x;
}

.mantra__view {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 5px;
  border-color: #79bc43;
}

.divider {
  height: 3px;
  max-width: 1440px;
  margin: 0em auto 2em;
  background-color: #79bc43;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, transparent 43%, #0a2240 85%);
}

.arrow {
  position: relative;
  width: 20px;
  height: 20px;
  border-right: 5px solid #79bc43;
  border-bottom: 5px solid #79bc43;
}

.arrow.down {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.seemore__link {
  padding: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #79bc43;
  border-radius: 30px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.seemore__link.w--current {
  position: relative;
}

.seemore__block {
  position: absolute;
  top: 5%;
  opacity: 1;
  text-align: center;
}

.text-block {
  margin-top: 5px;
  text-align: center;
}

.continue__block {
  position: absolute;
  bottom: 10%;
}

.continue__wrapper {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
}

.shadow {
  opacity: 0;
}

.lightbox-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-style: solid;
  border-width: 3px;
  border-color: #79bc43;
  -webkit-transform: scale3d(1none, 1none, 1none);
  transform: scale3d(1none, 1none, 1none);
  -webkit-transition: border-color 200ms ease, -webkit-transform 300ms ease;
  transition: border-color 200ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, border-color 200ms ease;
  transition: transform 300ms ease, border-color 200ms ease, -webkit-transform 300ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.lightbox-link:hover {
  border-color: #c2ff92;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.lightbox-image {
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.lightbox-image.rebel-2 {
  margin-bottom: -30%;
}

.lightbox-image.heroine-2 {
  width: 480px;
  margin-bottom: -40%;
}

.lightbox-image.explorer-3 {
  width: 300px;
}

.lightbox-image.rebel-3 {
  margin-left: 28%;
}

.lightbox-image.rebel-1 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.scroll-loader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: none;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0a2240;
}

.lightbox-text {
  display: block;
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(121, 188, 67, 0.5);
  color: #fff;
  text-align: center;
}

.triangle {
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
}

.lightbox-inner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.playbutton {
  margin-bottom: 25%;
  padding: 11px 9px 9px 16px;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 30px;
}

.jersey__cta {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 6%;
  display: block;
  width: 100%;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  border-radius: 5px;
  background-color: #79bc43;
  opacity: 1;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 1.5px;
}

.jersey__cta:hover {
  background-color: #aacc8f;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1280px) {
  .mantra__text.popup {
    font-size: 2rem;
    line-height: 2rem;
  }

  .text__emph.popup {
    font-size: 5rem;
  }

  .the-height-400vh-section {
    height: 920vh;
  }
}

@media screen and (max-width: 991px) {
  .section.jersey.explorer {
    background-image: url('../images/LY21_ExplorerTexture.svg'), radial-gradient(circle farthest-corner at 65% 40%, #236092, #0a2240 35%);
    background-position: 100% 50%, 0px 0px;
    background-size: 60%, auto;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed, scroll;
  }

  .section.jersey.rebel {
    background-image: url('../images/LY21_RebelTexture.svg'), radial-gradient(circle farthest-corner at 35% 40%, #236092, #0a2240 35%);
    background-position: 0% 35%, 0px 0px;
    background-size: 70%, auto;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed, scroll;
  }

  .header__tag {
    width: 40%;
    height: 12%;
    -webkit-transform: translate(10%, 0px) rotate(-90deg);
    -ms-transform: translate(10%, 0px) rotate(-90deg);
    transform: translate(10%, 0px) rotate(-90deg);
  }

  .header__tag.explorer {
    top: 52%;
  }

  .mantra__text {
    max-width: 600px;
    text-align: left;
  }

  .mantra__text.popup._8 {
    text-align: center;
  }

  .mantra__text.popup._9 {
    text-align: center;
  }

  .mantra__text.popup._1 {
    max-width: 400px;
  }

  .jersey__text {
    padding-bottom: 65px;
    font-size: 1.2em;
    line-height: 1.2em;
  }

  .jersey__connector {
    height: 45px;
  }

  .jersey__title {
    font-size: 1.5em;
  }

  .jersey__crop {
    max-height: 480px;
  }

  .text__emph {
    font-size: 3rem;
  }

  .a-block {
    width: 90vw;
  }

  .the-height-400vh-section {
    height: 670vh;
  }

  .mantra__container {
    top: 60px;
  }

  .lightbox-link {
    overflow: hidden;
    max-height: 175px;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .lightbox-image.rebel-2 {
    margin-bottom: 0%;
  }

  .lightbox-image.heroine-2 {
    margin-bottom: -90%;
  }
}

@media screen and (max-width: 767px) {
  .section.jersey {
    background-image: radial-gradient(circle farthest-corner at 50% 25%, #236092, #0a2240 30%);
  }

  .section.jersey.explorer {
    background-image: url('../images/LY21_ExplorerTexture.svg'), radial-gradient(circle farthest-corner at 50% 25%, #236092, #0a2240 30%);
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed, scroll;
  }

  .section.jersey.rebel {
    background-image: url('../images/LY21_RebelTexture.svg'), radial-gradient(circle farthest-corner at 50% 25%, #236092, #0a2240 30%);
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed, scroll;
  }

  .section.jersey.heroine {
    background-image: url('../images/LY21_HeroineTexture.svg'), radial-gradient(circle farthest-corner at 50% 25%, #236092, #0a2240 30%);
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed, scroll;
  }

  .img-group {
    max-width: 550px;
  }

  .header__image {
    width: 36%;
    max-height: 300px;
  }

  .header__tag {
    top: 52%;
    width: 50%;
    height: 22%;
    -webkit-transform: translate(5%, 0px) rotate(-90deg);
    -ms-transform: translate(5%, 0px) rotate(-90deg);
    transform: translate(5%, 0px) rotate(-90deg);
  }

  .header__tag.explorer {
    top: 50%;
  }

  .jersey__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .jersey__viz {
    width: 100%;
    margin-right: 0px;
  }

  .jersey__viz.img-right {
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .jersey__text {
    padding-bottom: 35px;
  }

  .jersey__gradient {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(48%, rgba(10, 34, 64, 0.5)), to(#0a2240));
    background-image: linear-gradient(180deg, transparent, rgba(10, 34, 64, 0.5) 48%, #0a2240);
  }

  .jersey__dot {
    margin-top: 0px;
    margin-left: -8px;
  }

  .jersey__dot.img-right {
    margin-right: -8px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .jersey__info {
    width: 80%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .jersey__bracket {
    width: 6%;
    margin-top: -20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .jersey__bracket.img-left {
    width: 9.5%;
    margin-top: -25%;
    margin-left: -3%;
  }

  .jersey__bracket.img-right {
    overflow: visible;
    width: 10%;
    margin-right: 0%;
    margin-left: 0%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .jersey__connector {
    height: 50%;
  }

  .jersey__connector.img-left {
    height: 50%;
    border-style: none none solid solid;
    border-right-color: #79bc43;
    border-bottom-width: 3px;
    border-bottom-color: #79bc43;
    border-left-width: 3px;
    border-left-color: #79bc43;
  }

  .jersey__connector.img-left.overlay {
    margin-top: 19px;
  }

  .jersey__connector.img-right {
    border-style: none solid solid none;
    border-right-width: 3px;
    border-right-color: #79bc43;
    border-bottom-width: 3px;
    border-bottom-color: #79bc43;
  }

  .jersey__connector.img-right.overlay {
    top: 19px;
  }

  .jersey__title {
    top: 0px;
    font-size: 4em;
    line-height: 0em;
  }

  .jersey__title.left {
    top: -20px;
    right: 0px;
  }

  .jersey__title.left.rebel {
    top: -20px;
  }

  .jersey__title.img-right {
    left: 0px;
    top: 0px;
  }

  .jersey__title.img-right.explorer {
    top: -515px;
  }

  .jersey__crop {
    max-height: 550px;
    padding-right: 20%;
    padding-left: 20%;
  }

  .jersey__gallery {
    margin-right: 10%;
    margin-left: 15%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: stretch;
  }

  .jersey__gallery.img-right {
    margin-right: 18%;
    margin-left: 10%;
  }

  .text__emph {
    font-size: 2.7rem;
  }

  .h2 {
    text-align: center;
  }

  .h2.signup {
    margin-right: 10%;
    margin-left: 10%;
  }

  .h2-sub {
    font-size: 0.9rem;
  }

  .the-height-400vh-section {
    height: 470vh;
  }

  .mantra__view {
    height: 100%;
    margin-right: 5vw;
    margin-left: 5vw;
  }
}

@media screen and (max-width: 479px) {
  .section.jersey {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .section.jersey.explorer {
    background-image: url('../images/LY21_ExplorerTexture.svg'), radial-gradient(circle farthest-corner at 50% 21%, #236092, #0a2240 25%);
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed, scroll;
  }

  .section.jersey.rebel {
    background-image: url('../images/LY21_RebelTexture.svg'), radial-gradient(circle farthest-corner at 50% 21%, #236092, #0a2240 25%);
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed, scroll;
  }

  .section.jersey.heroine {
    background-image: url('../images/LY21_HeroineTexture.svg'), radial-gradient(circle farthest-corner at 50% 21%, #236092, #0a2240 25%);
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed, scroll;
  }

  .container {
    overflow: hidden;
  }

  .h1 {
    font-size: 5rem;
    line-height: 1.3rem;
    letter-spacing: -7px;
  }

  .h1.sub {
    font-size: 1rem;
    line-height: 1rem;
  }

  .img-group {
    max-width: 320px;
  }

  .header__image {
    width: 36%;
    max-height: 165px;
    margin-right: -4%;
    margin-left: -3%;
  }

  .header__image.heroine {
    width: 36%;
  }

  .header__tag {
    left: 6%;
    overflow: hidden;
    width: 60%;
    height: 15%;
    -webkit-transform: translate(-25%, 0px) rotate(-90deg);
    -ms-transform: translate(-25%, 0px) rotate(-90deg);
    transform: translate(-25%, 0px) rotate(-90deg);
    font-size: 8px;
    line-height: 15px;
  }

  .header__tag.explorer {
    left: 3%;
    top: 54%;
  }

  .header__tag.rebel {
    left: 10%;
  }

  .mantra__text {
    max-width: 300px;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .mantra__text.popup {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .mantra__text.popup._4 {
    text-align: center;
  }

  .mantra__text.popup._5 {
    text-align: center;
  }

  .mantra__text.popup._1 {
    z-index: 0;
    max-width: 300px;
    font-size: 2rem;
    line-height: 2rem;
  }

  .jersey__text {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1em;
  }

  .jersey__text.template-override {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .jersey__bracket.img-right {
    margin-right: -5%;
  }

  .jersey__title {
    font-size: 2em;
  }

  .jersey__title.left {
    top: -15px;
  }

  .jersey__title.img-right.explorer {
    top: -255px;
  }

  .jersey__crop {
    max-height: 375px;
  }

  .jersey__gallery {
    margin-right: 10%;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-areas: "Area-2 Area-3"
      "Area Area";
    -ms-grid-columns: 1fr 8px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 8px auto;
    grid-template-rows: auto auto;
  }

  .jersey__gallery.img-right {
    margin-right: 14%;
  }

  .text__emph {
    font-size: 1.5rem;
  }

  .text__emph.popup {
    font-size: 3rem;
    line-height: 3rem;
  }

  .h2 {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1.7rem;
    line-height: 1.5rem;
  }

  .h2.signup {
    margin-right: 5%;
    margin-left: 5%;
  }

  .h2-sub {
    font-size: 0.8rem;
  }

  .a-block {
    overflow: visible;
    width: 100vw;
    height: 90vh;
    margin-right: 20px;
    margin-left: 20px;
  }

  .the-height-400vh-section {
    height: 480vh;
    margin-left: 0px;
  }

  .mantra__container {
    overflow: hidden;
  }

  .lightbox-link {
    max-height: 200px;
  }

  .lightbox-image.heroine-3 {
    height: 250px;
    margin-top: -43px;
    margin-left: 0%;
  }

  .lightbox-image.rebel-3 {
    width: 380px;
    height: auto;
    margin-left: 11%;
  }

  .lightbox-image.rebel-1 {
    margin-bottom: -40%;
  }
}

#w-node-_509c7657-cb99-9a27-d25e-d8cf8610a140-a511ea9b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_509c7657-cb99-9a27-d25e-d8cf8610a140-a511ea9b {
    grid-area: Area;
  }

  #w-node-c7d4027f-526a-8fca-fa06-50c895613a8b-a511ea9b {
    grid-area: Area-2;
  }

  #w-node-_9801729c-e686-8fdf-15ce-b713418cf026-a511ea9b {
    grid-area: Area-3;
  }

  #w-node-c63efc2c-0d78-44eb-93fa-63d0acba60f1-a511ea9b {
    grid-area: Area;
  }

  #w-node-c63efc2c-0d78-44eb-93fa-63d0acba60ef-a511ea9b {
    grid-area: Area-2;
  }

  #w-node-c63efc2c-0d78-44eb-93fa-63d0acba60f3-a511ea9b {
    grid-area: Area-3;
  }

  #w-node-b3e97db5-9c98-6a5d-779b-3d6ea2a6043b-a511ea9b {
    grid-area: Area;
  }

  #w-node-b3e97db5-9c98-6a5d-779b-3d6ea2a60439-a511ea9b {
    grid-area: Area-2;
  }

  #w-node-b3e97db5-9c98-6a5d-779b-3d6ea2a6043d-a511ea9b {
    grid-area: Area-3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_509c7657-cb99-9a27-d25e-d8cf8610a140-a511ea9b {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-c7d4027f-526a-8fca-fa06-50c895613a8b-a511ea9b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-_9801729c-e686-8fdf-15ce-b713418cf026-a511ea9b {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  #w-node-c63efc2c-0d78-44eb-93fa-63d0acba60f1-a511ea9b {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-c63efc2c-0d78-44eb-93fa-63d0acba60ef-a511ea9b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-c63efc2c-0d78-44eb-93fa-63d0acba60f3-a511ea9b {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  #w-node-b3e97db5-9c98-6a5d-779b-3d6ea2a6043b-a511ea9b {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-b3e97db5-9c98-6a5d-779b-3d6ea2a60439-a511ea9b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-b3e97db5-9c98-6a5d-779b-3d6ea2a6043d-a511ea9b {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

